# Unreal Engine generated / local files
**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/

# IDE / Visual Studio
**/.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal

# Python
**/__pycache__/
*.pyc

# Python
**/__pycache__/
*.pyc

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Local Git worktrees
.worktrees/
